@media only screen and (min-width: 35rem) {
    /* PAGE STYLING */
    #page-container {
        max-width: 100%;
    }

    /* Navigation */
    header
    {
        border: 0;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        max-width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 15px;
    }

    #info-header
    {
        width: 70px;
        height: 70px;
    }

    #social-box img
    {
        width: 40px;
    }

    #large-nav
    {
        margin: 0px;
        width: 100%;
        display: flex;
    }

    #hamburgerBtn
    {
        display: none;
    }

    /*---------------  HOME PAGE   -----------------*/
    .small-hero
    {
        display: none;
    }

    .slideshow-container
    {
        display: block;
        width: 50%;
    }

    #home-about
    {
        margin: auto;
        max-width: 50%;
    }

    #skill-summary
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


    /*-------- ABOUT PAGE -------- */
    #about-div
    {
        margin: 50px auto;
        width: 500px;
    }

    #hover-info h2
    {
        font-size: x-large;
        margin: 5px;
    }

    #hover-info h3
    {
        font-size: larger;
        margin: 5px;
    }

    #hover-info p
    {
        padding:100px;
    }

    /* PROJECT PAGE */
    .project-div
    {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        gap: 5px;
        width: 100%;
    }

    .project-image
    {
        width: 65%;
    }
    
    .project-div div
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 34%;
        padding: 5px;
    }

    .project-link
    {
        width: 100%;
    }

    #port-link
    {
        width: 250px;
        font-size: xx-large;
    }
}