@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Montserrat&display=swap');

:root {
    /* Variables */
    --primary-color:white;
    --secondary-color:black;
    --accent-color: lightgray;
    --accent-color2: #112A46;
    --heading-font: 'Edu SA Beginner', cursive;
    --paragraph-font: 'Montserrat', sans-serif;
    
}


/* STANDARD STYLING */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

p, a {
    font-family: var(--paragraph-font);
    color: var(--secondary-color)
}

a {
    text-decoration: none;
}


/* PAGE STYLING */

body {
    background-color: var(--primary-color);
    text-align: center;
}

#page-container {
    background-color: var(--primary-color);
    position: relative;
    min-height: 100vw;
    width: 100%;
    max-width: 30rem;
    padding: 5px;
    margin: auto;
}


#content-container {
    padding-bottom: 2.5rem;
}


/* HEADER CONTENT */

header
{
    border-radius: 10px;
    max-width: 100%;
    padding: 5px;
    margin: auto;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
}

header.open 
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

header a, p
{
    color: var(--secondary-color);
}

#info-header
{
    width: 50px;
    height: 50px
}

#social-box img
{
    width: 30px;
}

/*NAVIGATION*/

#large-nav
{
    display: none;
}

nav ul
{
    list-style: none;
}
#burgerBox
{
    background-color: var(--accent-color);
    margin: auto;
    width: 100%;
    border-radius: 10px;
    display: none;
    padding: 5px;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#burgerBox.open
{
    display: flex;
}


#hamburgerBtn {
    text-align: center;
    width: fit-content;
    background-color: var(--accent-color);
    border: 0px;
    color: var(--secondary-color);
    border-radius: 3px;
    font-size: xx-large;
    padding: 5px;
    margin-bottom: 0px;
}

#hamburgerBtn:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}

#hamburgerNav
{
    display: none;
}

#hamburgerNav.open {
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

#hamburgerNav a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: large;
}

#hamburgerNav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}


#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


/* -------------------------------MAIN PAGE----------------------------/*
/* SMALL HERO */

.small-hero
{
    margin: 15px;
}

/* IMAGE SLIDESHOW */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: none;
}
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dots {
    display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*-----------------------------ABOUT PAGE----------------------------*/

.inactive { display: none;}
#about-div
{
    margin: 30px;
    position:relative;
}

#hover-image
{
    width: 100%;
    height: 100%;
}

#hover-info
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

#hover-info hr
{
    width: 50%;
    height: 1px;
    border: black;
    background-color: black;
}

.hover-blur
{
    
    filter: blur(0.3em);
    transition: filter 0.5s;
}

.about-div-button
{
    background: var(--accent-color);
    border: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}

.about-div-button:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}

#education-div div
{
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.title
{
    font-weight: bolder;
}

.allign-content
{
    display: flex;
    justify-content: space-between;
    font-weight: bolder; 
}

.qualification
{
    font-weight:bold;
}

#education-div ul, #experience-div ul
{
    width: 100%;
    text-align: left;
}

#education-div ul li, #experience-div ul li
{
    margin: 7px;
}

#skills-div
{
    width: 100%;
}

.tab-table
{
    padding: 10px;
}

.tab-table h3
{
    font-size: 1.5rem;
}

.tab
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tablinks
{
    width: 100px;
    font-size: larger;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 5px;
}

#about-div-container .tablinks
{
    width: 40%;
}


.tabActive
{
    background-color: #a5a5a5;
    color:white
}

.tablinks:hover
{
    background-color: rgb(216, 216, 216);
    color:black;
}


#Computer
{
    display: block;
}

#General
{
    display: none;
}

.skills-list
{
    padding: 0px;
    width: 100%;
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill
{
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 40%;
}

.skill-title
{
    font-size: 1rem;
    margin-bottom: 0px;
}

.skill-length
{
    color: #717171;
    margin-top: 0px;
    font-size: 0.75rem;
}

#port-link
{
    display: block;
    width: 150px;
    margin-top: 10px;
    margin: auto;
    font-size: larger;
    background-color: #d1d1d1;
    padding: 5px;
    color:black;
    border-radius: 5px;
    border: 1px solid black;
}

#port-link:hover
{
    background-color: #a5a5a5;
    color: white;
    border:#112A46 1px solid;
}


.reveal-transition
{
    animation: reveal 1s;
}

@keyframes reveal
{
    0% {opacity: 0.1; margin-left: 280px;
    }

    85% {
        opacity: 1; margin-left:-20px;
    }

    95% {
        margin-left: 10px;
    }


    100% {
        margin: 0px;
    }
}
/* FOOTER CONTENT */


footer {
    margin: auto;
    width: 100%;
    padding: 5px;
}

footer a, p {
    color: var(--secondary-color);
    display: block;
}

.active {
    background-color: #717171;
  }